@import "../../index.css";

@source "../../components/**/*.tsx";
@source "../../components/**/*.ts";
@source "../../pages/**/*.tsx";
@source "../../pages/**/*.ts";
@source "../../lib/**/*.ts";
@source "../../lib/**/*.tsx";
@source "../../App.tsx";
@source "../../LazyProviders.tsx";

/* Adicional para SafeArea no Mobile */
body {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}
